.row 
  display flex
  box-sizing: border-box;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  flex-wrap: nowrap;
.column
  flex-direction: column;
.between
  justify-content: space-between;
.around
  justify-content: space-around
.center 
  align-items: center;
.center-t
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
.center-c
  justify-content: center;
  text-align: center;
.self-middle 
  align-self: center;
.self-bottom
  align-self: flex-end;
.bottom
  align-items: flex-end;
.static
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
.wrap 
  flex-wrap wrap
.auto__width
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;