@import 'normalize.css';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=cyrillic';
@import 'https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/jquery.bxslider.min.css';
@import '../lib/jquery-bar-rating/css-stars.css';
@import '../lib/daterangepicker/drp.min.css';
.col__1 {
  width: 1%;
  position: relative;
}
.col__2 {
  width: 2%;
  position: relative;
}
.col__3 {
  width: 3%;
  position: relative;
}
.col__4 {
  width: 4%;
  position: relative;
}
.col__5 {
  width: 5%;
  position: relative;
}
.col__6 {
  width: 6%;
  position: relative;
}
.col__7 {
  width: 7%;
  position: relative;
}
.col__8 {
  width: 8%;
  position: relative;
}
.col__9 {
  width: 9%;
  position: relative;
}
.col__10 {
  width: 10%;
  position: relative;
}
.col__11 {
  width: 11%;
  position: relative;
}
.col__12 {
  width: 12%;
  position: relative;
}
.col__13 {
  width: 13%;
  position: relative;
}
.col__14 {
  width: 14%;
  position: relative;
}
.col__15 {
  width: 15%;
  position: relative;
}
.col__16 {
  width: 16%;
  position: relative;
}
.col__17 {
  width: 17%;
  position: relative;
}
.col__18 {
  width: 18%;
  position: relative;
}
.col__19 {
  width: 19%;
  position: relative;
}
.col__20 {
  width: 20%;
  position: relative;
}
.col__21 {
  width: 21%;
  position: relative;
}
.col__22 {
  width: 22%;
  position: relative;
}
.col__23 {
  width: 23%;
  position: relative;
}
.col__24 {
  width: 24%;
  position: relative;
}
.col__25 {
  width: 25%;
  position: relative;
}
.col__26 {
  width: 26%;
  position: relative;
}
.col__27 {
  width: 27%;
  position: relative;
}
.col__28 {
  width: 28%;
  position: relative;
}
.col__29 {
  width: 29%;
  position: relative;
}
.col__30 {
  width: 30%;
  position: relative;
}
.col__31 {
  width: 31%;
  position: relative;
}
.col__32 {
  width: 32%;
  position: relative;
}
.col__33 {
  width: 33%;
  position: relative;
}
.col__34 {
  width: 34%;
  position: relative;
}
.col__35 {
  width: 35%;
  position: relative;
}
.col__36 {
  width: 36%;
  position: relative;
}
.col__37 {
  width: 37%;
  position: relative;
}
.col__38 {
  width: 38%;
  position: relative;
}
.col__39 {
  width: 39%;
  position: relative;
}
.col__40 {
  width: 40%;
  position: relative;
}
.col__41 {
  width: 41%;
  position: relative;
}
.col__42 {
  width: 42%;
  position: relative;
}
.col__43 {
  width: 43%;
  position: relative;
}
.col__44 {
  width: 44%;
  position: relative;
}
.col__45 {
  width: 45%;
  position: relative;
}
.col__46 {
  width: 46%;
  position: relative;
}
.col__47 {
  width: 47%;
  position: relative;
}
.col__48 {
  width: 48%;
  position: relative;
}
.col__49 {
  width: 49%;
  position: relative;
}
.col__50 {
  width: 50%;
  position: relative;
}
.col__51 {
  width: 51%;
  position: relative;
}
.col__52 {
  width: 52%;
  position: relative;
}
.col__53 {
  width: 53%;
  position: relative;
}
.col__54 {
  width: 54%;
  position: relative;
}
.col__55 {
  width: 55%;
  position: relative;
}
.col__56 {
  width: 56%;
  position: relative;
}
.col__57 {
  width: 57%;
  position: relative;
}
.col__58 {
  width: 58%;
  position: relative;
}
.col__59 {
  width: 59%;
  position: relative;
}
.col__60 {
  width: 60%;
  position: relative;
}
.col__61 {
  width: 61%;
  position: relative;
}
.col__62 {
  width: 62%;
  position: relative;
}
.col__63 {
  width: 63%;
  position: relative;
}
.col__64 {
  width: 64%;
  position: relative;
}
.col__65 {
  width: 65%;
  position: relative;
}
.col__66 {
  width: 66%;
  position: relative;
}
.col__67 {
  width: 67%;
  position: relative;
}
.col__68 {
  width: 68%;
  position: relative;
}
.col__69 {
  width: 69%;
  position: relative;
}
.col__70 {
  width: 70%;
  position: relative;
}
.col__71 {
  width: 71%;
  position: relative;
}
.col__72 {
  width: 72%;
  position: relative;
}
.col__73 {
  width: 73%;
  position: relative;
}
.col__74 {
  width: 74%;
  position: relative;
}
.col__75 {
  width: 75%;
  position: relative;
}
.col__76 {
  width: 76%;
  position: relative;
}
.col__77 {
  width: 77%;
  position: relative;
}
.col__78 {
  width: 78%;
  position: relative;
}
.col__79 {
  width: 79%;
  position: relative;
}
.col__80 {
  width: 80%;
  position: relative;
}
.col__81 {
  width: 81%;
  position: relative;
}
.col__82 {
  width: 82%;
  position: relative;
}
.col__83 {
  width: 83%;
  position: relative;
}
.col__84 {
  width: 84%;
  position: relative;
}
.col__85 {
  width: 85%;
  position: relative;
}
.col__86 {
  width: 86%;
  position: relative;
}
.col__87 {
  width: 87%;
  position: relative;
}
.col__88 {
  width: 88%;
  position: relative;
}
.col__89 {
  width: 89%;
  position: relative;
}
.col__90 {
  width: 90%;
  position: relative;
}
.col__91 {
  width: 91%;
  position: relative;
}
.col__92 {
  width: 92%;
  position: relative;
}
.col__93 {
  width: 93%;
  position: relative;
}
.col__94 {
  width: 94%;
  position: relative;
}
.col__95 {
  width: 95%;
  position: relative;
}
.col__96 {
  width: 96%;
  position: relative;
}
.col__97 {
  width: 97%;
  position: relative;
}
.col__98 {
  width: 98%;
  position: relative;
}
.col__99 {
  width: 99%;
  position: relative;
}
.col__100 {
  width: 100%;
  position: relative;
}
body {
  background: #fff;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  display: inline-block;
}
a {
  text-decoration: none;
}
table {
  border-spacing: 0;
}
input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  white-space: normal;
  background: none;
  line-height: 1;
/* Browsers have different default form fonts */
}
input:focus {
  outline: 0;
}
input,
textarea {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type=checkbox],
input[type=radio] {
  width: 13px;
  height: 13px;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
}
::-webkit-search-decoration {
  display: none;
}
button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
/* Fix IE7 display bug */
  overflow: visible;
  width: auto;
}
::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none;
}
textarea {
/* Move the label to the top */
  vertical-align: top;
/* Turn off scroll bars in IE unless needed */
  overflow: auto;
}
select[multiple] {
/* Move the label to the top */
  vertical-align: top;
}
.btn-rounded {
  border-radius: 23px;
}
.mt-30 {
  margin-top: 30px;
}
.mb-30 {
  margin-bottom: 30px;
}
.tac {
  text-align: center;
}
.left {
  text-align: left;
}
.red {
  color: #f05163;
}
.col__tablet,
.col__mobile {
  width: 100%;
  display: flex;
}
.img-wrap {
  overflow: hidden;
  box-sizing: border-box;
}
.img-wrap > img {
  max-width: 100%;
}
.row {
  display: flex;
  box-sizing: border-box;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  flex-wrap: nowrap;
}
.column {
  flex-direction: column;
}
.between {
  justify-content: space-between;
}
.around {
  justify-content: space-around;
}
.center {
  align-items: center;
}
.center-t {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.center-c {
  justify-content: center;
  text-align: center;
}
.self-middle {
  align-self: center;
}
.self-bottom {
  align-self: flex-end;
}
.bottom {
  align-items: flex-end;
}
.static {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.wrap {
  flex-wrap: wrap;
}
.auto__width {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}
html,
body {
  min-width: 320px;
}
header,
main {
  max-width: 1200px;
  margin: auto;
}
footer {
  padding: 20px;
  border-top: 1px solid #dedede;
}
.rounded {
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding: 50px;
}
.rounded+.rounded {
  margin-top: 30px;
}
.m-visible {
  display: none;
}
.hamburger {
  display: none;
}
.header {
  width: 100%;
  padding: 40px 0;
}
.header__logo {
  display: block;
}
.header__logo-link {
  display: inline-block;
  vertical-align: middle;
  background-image: url("../images/sprite2.png");
  background-position: 0px 0px;
  width: 177px;
  height: 52px;
}
.header__logo-clinics {
  position: relative;
  color: #1da5df;
  margin-left: 40px;
  border-bottom: 1px dashed #f05163;
}
.header__logo-clinics:after {
  content: '';
  display: inline-block;
  background-image: url("../images/sprite2.png");
  background-position: -62px -116px;
  width: 20px;
  height: 16px;
  position: absolute;
  top: 26%;
}
.header__number-title {
  color: #676767;
}
.header__number-phone {
  color: #232323;
  font-size: 36px;
  font-weight: 700;
}
.menu__item {
  text-align: center;
  height: 70px;
  width: 20%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background: #1da5df;
}
.menu__item.active,
.menu__item:hover {
  background: #fff;
  color: #1da5df;
}
.menu__item.active.menu__item-link,
.menu__item:hover.menu__item-link {
  color: #1da5df;
}
.menu__item-link {
  padding: 0 10px;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  cursor: pointer;
  line-height: 1.133rem;
  font-weight: 700;
  height: 70px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.menu__item-link.active,
.menu__item-link:hover {
  background: #fff;
  color: #1da5df;
}
.title {
  width: 70%;
}
.title-wrapper {
  margin: 20px 0;
}
.title__text {
  display: inline-block;
}
.rightbox {
  text-align: right;
}
.rightbox__info {
  font-size: 18px;
  font-weight: 700;
}
.rightbox__link {
  font-size: 12px;
  color: #1da5df;
  text-decoration: underline;
}
.rightbox--border {
  text-align: center;
  width: 180px;
  height: 150px;
  border: 1px solid #dedede;
  -webkit-box-shadow: 0 0 30px rgba(0,0,0,0.3);
  box-shadow: 0 0 30px rgba(0,0,0,0.3);
  border-radius: 10px;
}
.rightbox--border .rightbox__info {
  text-align: center;
  word-spacing: 180px;
}
.rightbox--border .rightbox__link {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.you {
  font-size: 0.867rem;
  word-spacing: initial;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 5px;
}
.bonus__item {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}
.bonus__item-text {
  display: inline-block;
}
.bonus__item-img {
  display: inline-block;
  border: 1px solid #dedede;
  -webkit-box-shadow: 0 0 30px rgba(0,0,0,0.3);
  box-shadow: 0 0 30px rgba(0,0,0,0.3);
  border-radius: 10px;
  width: 100px;
  height: 100px;
}
.bonus-history__date {
  margin-bottom: 20px;
}
.bonus-history__date-text {
  margin-right: 20px;
}
.bonus-history__date-input {
  border: 1px solid #dedede;
  border-radius: 5px;
  height: 3.2rem;
  width: 80%;
  padding-left: 20px;
  cursor: pointer;
}
.bonus-history__date-picker {
  position: relative;
}
.bonus-history__date-picker:after {
  content: '';
  background-image: url("../images/sprite2.png");
  background-position: -31px -116px;
  width: 21px;
  height: 21px;
  display: inline-block;
  position: absolute;
  right: 12px;
  top: 18px;
}
.search-form {
  margin: 30px 0;
}
.search-form__input {
  text-align: center;
  border-radius: 10px;
  height: 4.2rem;
  width: 100%;
  border: 1px solid #dedede;
  -webkit-box-shadow: 0 0 30px rgba(0,0,0,0.3);
  box-shadow: 0 0 30px rgba(0,0,0,0.3);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.133rem;
  font-weight: 400;
}
.search-form__input::-webkit-input-placeholder,
.search-form__input::-moz-placeholder,
.search-form__input:-moz-placeholder,
.search-form__input:-ms-input-placeholder {
  color: #242424;
  text-indent: 0;
  -webkit-transition: text-indent 0.3s ease;
  -moz-transition: text-indent 0.3s ease;
  -o-transition: text-indent 0.3s ease;
  -ms-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}
.search-form__input:focus::-webkit-input-placeholder,
.search-form__input:focus::-moz-placeholder,
.search-form__input:focus:-moz-placeholder,
.search-form__input:focus:-ms-input-placeholder {
  text-indent: 500px;
  -webkit-transition: text-indent 0.3s ease;
  -moz-transition: text-indent 0.3s ease;
  -o-transition: text-indent 0.3s ease;
  -ms-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}
.choose {
  border: 1px solid #dedede;
  -webkit-box-shadow: 0 0 30px rgba(0,0,0,0.3);
  box-shadow: 0 0 30px rgba(0,0,0,0.3);
  margin-bottom: 25px;
}
.choose__title {
  padding-left: 30px;
  display: inline-block;
  margin: 20px 0;
  font-size: 19px;
  font-weight: 700;
}
.choose__right {
  border-left: 1px solid #dedede;
  font-weight: 600;
}
.choose__right-row {
  padding: 20px;
}
.choose__right-row + .choose__right-row {
  border-top: 1px solid #dedede;
}
.choose__right-service {
  text-align: center;
  color: #919191;
  font-size: 12px;
}
.choose__right-price {
  color: #393939;
  font-size: 17px;
  line-height: 20px;
}
.choose__right-btn {
  cursor: pointer;
  display: inline-block;
  padding: 15px 50px;
  font-size: 15px;
  font-weight: 700;
  color: #f05163;
  border: 1px solid #f05163;
  border-bottom: 2px solid #f05163;
}
.choose__right-btn:hover,
.choose__right-btn:active {
  background: #f05163;
  color: #fff;
}
.choose__right-btn--blue {
  color: #1da5df;
  border: 1px solid #1da5df;
  border-bottom: 2px solid #1da5df;
}
.choose__right-btn--blue:hover,
.choose__right-btn--blue:active {
  background: #1da5df;
  color: #fff;
}
.choose__slider-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 60%;
  padding: 20px;
}
.choose__slider-wrapper .bx-wrapper {
  margin: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
}
.choose__slider-wrapper .bx-wrapper .bx-prev {
  background-image: url("../images/sprite2.png");
  background-position: -104px -62px;
  width: 19px;
  height: 27px;
  left: 0;
}
.choose__slider-wrapper .bx-wrapper .bx-next {
  background-image: url("../images/sprite2.png");
  background-position: -133px -62px;
  width: 19px;
  height: 27px;
  right: 0;
}
.choose__about {
  margin-left: 25px;
  padding-right: 20px;
  font-size: 12px;
  font-weight: 600;
}
.choose__about-title {
  font-size: 16px;
  line-height: 1.5rem;
}
.choose__about-center {
  color: #1da5df;
  margin-top: 5px;
}
.choose__item {
  padding-left: 30px;
}
.pagination__list {
  margin: 50px auto;
}
.pagination__link {
  font-size: 18px;
  color: #242424;
  font-weight: 700;
}
.pagination__link--active {
  color: #f05163;
  font-size: 30px;
}
.pagination__link--right,
.pagination__link--left {
  color: #bdbdbd;
}
.tabs__caption-item {
  position: relative;
  width: 33%;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 30px;
  border-bottom: 1px solid #bdbdbd;
  color: #bdbdbd;
}
.tabs__caption-item.active {
  border-bottom: 2px solid #1da5df;
  color: #1da5df;
}
.tabs__caption-item.active:after {
  content: '';
  background-image: url("../images/sprite2.png");
  background-position: -62px -116px;
  width: 20px;
  height: 16px;
  display: block;
  position: absolute;
  bottom: -9px;
  left: 50%;
}
.tabs__caption-item:hover {
  border-bottom: 2px solid #1da5df;
  color: #1da5df;
}
.tabs__content {
  display: none; /* по умолчанию прячем все блоки */
}
.tabs__content.active {
  display: block; /* по умолчанию показываем нужный блок */
}
.table {
  display: block;
  width: 100%;
}
.table__content-row {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  width: 100%;
}
.table__content-cell {
  border: 1px solid #dedede;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  width: 16%;
  text-align: center;
}
.table__content-cell--hov {
  cursor: pointer;
  padding: 20px 0;
}
.table__content-cell--hov:hover {
  background-color: #f05163;
}
.table__content-cell--hov:hover .select-date {
  color: #fff;
}
.table__content-cell--hov:hover .select-date:after {
  background-position: 0px -116px;
  width: 21px;
  height: 21px;
}
.table__content-cell.row.between {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.table__content-cell--pad {
  padding-left: 15px;
}
.table__content-cell:nth-child(1) {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  width: 52%;
  text-align: left;
}
.table__content-cell--stars {
  padding: 20px 0;
}
.table__content-cell > .price {
  margin-right: 10px;
}
.table__content-cell > .price: hover {
  font-weight: bold;
}
.table__content-cell--responsive > .left {
  text-align: center;
}
.table__content-cell--responsive > .left > .col__50 {
  width: 100%;
}
.table__content label {
  cursor: pointer;
}
.table__content label:hover {
  color: #1da5df;
  font-weight: 600;
}
.table__content label:hover .check {
  border: 1px solid #1da5df;
}
.table__content label .table__content-cell:has(> input[type=checkbox]:checked) {
  background-color: #f05163;
}
.table__content input[type=checkbox] {
  display: none;
}
.table__content input[type=checkbox]:checked ~ .check {
  background-image: url("../images/sprite2.png");
  background-position: -92px -116px;
  width: 16px;
  height: 16px;
  border: 0;
}
.table__content input[type=checkbox]:checked ~ .price {
  color: #fff;
}
.table--appointment .table__content-cell:nth-child(1) {
  width: 24%;
}
.table--appointment .table__content-cell:nth-child(2) {
  width: 12%;
}
.table--appointment .table__content-cell:nth-child(3) {
  width: 32%;
}
.table--appointment .table__content-cell:nth-child(4) {
  width: 20%;
}
.table--appointment .table__content-cell:nth-child(5) {
  width: 12%;
}
.table--plan .table__content-cell {
  font-size: 0.867rem;
  font-weight: 600;
}
.table--plan .table__content-cell:nth-child(1) {
  width: 52%;
}
.table--plan .table__content-cell:nth-child(2) {
  width: 24%;
  padding: 20px 0;
}
.table--plan .table__content-cell:nth-child(3) {
  width: 12%;
}
.table--plan .table__content-cell:nth-child(4) {
  width: 12%;
}
.table--bonus .table__content-cell {
  font-size: 0.867rem;
}
.table--bonus .table__content-cell:nth-child(1) {
  width: 52%;
}
.table--bonus .table__content-cell:nth-child(2) {
  width: 24%;
}
.table--bonus .table__content-cell:nth-child(3) {
  width: 24%;
}
.table--md {
  display: none;
}
.dropdown:after {
  content: '';
  display: inline-block;
}
.select-date:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  background-image: url("../images/sprite2.png");
  background-position: -31px -116px;
  width: 21px;
  height: 21px;
}
.comment {
  border: 1px solid #dedede;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  resize: none;
  margin-top: 20px;
  margin-bottom: 10px;
}
.check {
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: top;
  border: 1px solid #dedede;
  border-radius: 4px;
}
.paybox {
  display: block;
}
.paybox .col__40 > label {
  position: relative;
  font-size: 1.333rem;
  font-weight: 300;
  margin-left: 25px;
}
.paybox .col__40 > label > input[type=radio] {
  position: absolute;
  top: 5px;
  left: -25px;
  width: 21px;
  height: 21px;
}
.pay-row {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  margin-top: 15px;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -o-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.row-wrap {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -o-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.pay-right {
  width: 80%;
}
.pay-input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 17.333rem;
  height: 3.133rem;
  border: 0.067rem solid #b6b6b6;
  border-radius: 5px;
  padding: 15px;
  font-style: italic;
}
.pay-input--cvv {
  width: 50%;
}
.pay-input__helper {
  display: inline-block;
  width: 43%;
  vertical-align: middle;
  color: #bdbdbd;
  font-style: italic;
  font-size: 0.833rem;
}
.pay-col {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pay-col--c {
  padding-left: 130px;
}
.pay-col--r {
  text-align: right;
}
.pay-col label {
  position: relative;
  font-size: 1.333rem;
  font-weight: 300;
}
.pay-col input[type=radio] {
  position: absolute;
  top: 5px;
  left: -25px;
  width: 21px;
  height: 21px;
}
.pay-col .rightbox__info {
  margin-top: 20px;
}
.pay-select {
  height: 3.133rem;
  border: 0.067rem solid #b6b6b6;
  border-radius: 5px;
}
.term {
  width: 17.333rem;
}
.total,
.cards,
.pay-input-wrap {
  display: inline-block;
  width: 17.333rem;
}
.total {
  font-size: 1.533rem;
  font-weight: 700;
  color: #1da5df;
}
.label {
  text-align: right;
  margin-right: 15px;
  width: 40%;
  font-size: 0.933rem;
  font-weight: 600;
}
.footer__inner {
  display: inline-block;
  color: #bdbdbd;
  margin: 50px 0;
}
.footer__copy {
  display: block;
  color: #000;
}
.profile {
  padding-bottom: 70px;
  margin-bottom: 70px;
  border-bottom: 1px solid #cacaca;
}
.profile__map {
  margin-top: 20px;
  height: 240px;
}
.profile-map__center {
  font-size: 18px;
  color: #242424;
}
.profile-map__adress {
  font-size: 14px;
  color: #b6b6b6;
}
.profile-map__label {
  cursor: pointer;
  padding-left: 25px;
}
.profile-map input[type="radio"] {
  display: none;
}
.profile-map input[type="radio"]:checked + label i {
  background-image: url("../images/sprite2.png");
  background-position: -144px -116px;
  width: 16px;
  height: 16px;
}
.profile-map input[type="radio"] + label i {
  display: inline-block;
  margin-right: 6px;
  margin-top: 2px;
  vertical-align: middle;
  background-image: url("../images/sprite2.png");
  background-position: -118px -116px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  position: absolute;
  left: 0;
}
.profile-title {
  display: inline-block;
  width: 40%;
  color: #676767;
}
.profile-form__row {
  position: relative;
}
.profile-form__row--error {
  padding-bottom: 10px;
  margin-bottom: 50px;
}
.profile-form__row + .profile-form__row {
  margin-top: 20px;
}
.profile-form__row--map {
  position: relative;
  min-height: 40px;
}
.profile-form__label {
  display: block;
  margin: 15px 0;
  font-size: 1.2rem;
  font-weight: 400;
  color: #676767;
}
.profile-form__input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  border: 0.067rem solid #b6b6b6;
  -webkit-box-shadow: 0;
  box-shadow: 0;
  font-style: italic;
  font-size: 1.2rem;
}
.profile-form__input--error {
  border: 0.067rem solid #f05163;
  -webkit-box-shadow: 0 0 20px 2px rgba(255,0,0,0.6);
  box-shadow: 0 0 20px 2px rgba(255,0,0,0.6);
  margin-bottom: 10px;
}
.error-box {
  color: #f05163;
  font-size: 0.8rem;
  position: absolute;
  margin-top: 10px;
}
/*tooltip start*/
.tooltip {
  display: inline-block;
  position: relative;
  text-indent: 0px;
  cursor: help; /* вид курсора */
  font-size: 0.8rem;
  font-weight: 400;
  color: #676767;
  text-decoration: underline;
  z-index: 9;
}
.tooltip--nounder {
  text-decoration: none;
  cursor: pointer;
}
.tooltip > span {
/* стиль появляющейся подсказки */
  position: absolute;
  top: 100%;
  left: -22em; /* = max-width */
  right: -22em; /* = max-width */
  width: -moz-max-content;
  width: -webkit-max-content;
  width: max-content; /* ширина подсказки может быть не более содержимого */
  max-width: 22em; /* ширина подсказки может быть не более 20em */
  max-height: 80vh; /* необязательное ограничение по высоте подсказки, 1vh — это 1% от ширины окна */
  visibility: hidden;
  margin: 0 auto 0.4em; /* поднята на .4em над текстом, наведя или нажав на который появится пояснение */
  padding: 1rem;
  border: 1px solid #c8c8c8;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 5px;
  background: #fff;
  line-height: normal;
  cursor: auto;
  color: #000;
  font-size: 0.867rem;
  font-weight: 600;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.tooltip:before {
/* поле между текстом, наведя или нажав на который появится пояснение, и подсказкой нужно чтобы, если перевести курсор мышки на подсказку, та не исчезла; тут тоже везде .4em */
  content: "";
  position: absolute;
  top: -0.4em;
  left: 0;
  right: 0;
  height: 0.4em;
  visibility: hidden;
}
.tooltip:hover > span,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus > span,
.tooltip:focus:before,
.tooltip:focus:after {
  visibility: visible;
  -webkit-transition: 0s 0.4s;
  -moz-transition: 0s 0.4s;
  -o-transition: 0s 0.4s;
  -ms-transition: 0s 0.4s;
  transition: 0s 0.4s;
}
.tooltip:focus {
/* убрать рамку в Хроме */
  outline: none;
}
.tooltip.anim > span,
.tooltip.anim:after {
/* анимация */
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transform: translateY(1.5em) scale(0.3);
  -moz-transform: translateY(1.5em) scale(0.3);
  -o-transform: translateY(1.5em) scale(0.3);
  -ms-transform: translateY(1.5em) scale(0.3);
  transform: translateY(1.5em) scale(0.3);
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
}
.tooltip.anim:after {
  -webkit-transform: translateY(0.7em) scale(0.3);
  -moz-transform: translateY(0.7em) scale(0.3);
  -o-transform: translateY(0.7em) scale(0.3);
  -ms-transform: translateY(0.7em) scale(0.3);
  transform: translateY(0.7em) scale(0.3); /* 1.7 = 1.5 / (1.4*2) */
}
.tooltip.anim:hover > span,
.tooltip.anim:hover:after,
.tooltip.anim:focus > span,
.tooltip.anim:focus:after {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: 0.6s 0.4s;
  -moz-transition: 0.6s 0.4s;
  -o-transition: 0.6s 0.4s;
  -ms-transition: 0.6s 0.4s;
  transition: 0.6s 0.4s;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.tooltip > span:before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -12px;
  width: 0;
  height: 0;
  border-bottom: 11px solid #ddd;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.tooltip > span:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-bottom: 10px solid #fff;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 22em) {
  .tooltip > span {
    max-width: 100vw; /* в 100vw входит полоса прокрутки, но на мобильных она часто отсутствует */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
/*tooltip end*/
/*calendar fix*/
.date-picker-wrapper .month-name {
  color: #000;
  font-size: 1.067rem;
  font-weight: 400;
  text-transform: capitalize;
}
.date-picker-wrapper .month-wrapper table .week-name {
  height: 25px;
}
.date-picker-wrapper {
  background-color: transparent;
  border: none;
  color: #aaa;
}
.date-picker-wrapper table .caption {
  height: 60px;
}
.date-picker-wrapper table .caption .next {
  padding: 10px;
  background-image: url("../images/sprite2.png");
  background-position: -133px -62px;
  width: 19px;
  height: 27px;
  zoom: 0.5;
}
.date-picker-wrapper table .caption .prev {
  padding: 10px;
  background-image: url("../images/sprite2.png");
  background-position: -104px -62px;
  width: 19px;
  height: 27px;
  zoom: 0.5;
}
.date-picker-wrapper table .caption .next:hover,
.date-picker-wrapper table .caption .prev:hover {
  background-color: transparent;
  color: #fff;
}
.week-name th {
  border-bottom: 1px solid #aaa;
}
.schedule-rows td {
  width: 80px;
  height: 30px;
  margin: 3px;
  padding: 5px;
  background-color: #fff;
  cursor: pointer;
  border: 1px solid #dedede;
}
.schedule-rows td:first-child {
  background-color: transparent;
  text-align: right;
  position: relative;
  width: 50px;
  text-align: center;
/*top: -12px;*/
}
.schedule-rows td[data-selected],
.schedule-rows td[data-selecting] {
  background-color: #e74c3c;
}
.schedule-rows td[data-disabled] {
  opacity: 0.55;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=55)";
  filter: alpha(opacity=55);
}
.date-picker-wrapper .month-wrapper {
  width: 259px;
}
.schedule-header th {
  border: 1px solid #dedede;
  padding: 10px;
}
.date-picker-wrapper .month-wrapper table .day {
  font-size: 0.933rem;
  padding: 10px;
}
.timepicker {
  border: 1px solid #dedede;
  width: 100%;
  margin-left: 50px;
}
.timepicker__title {
  border-bottom: 1px solid #dedede;
  text-align: center;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.timepicker__table {
  max-height: 282px;
  overflow: overlay;
/* Let's get this party started */
/* Track */
/* Handle */
}
.timepicker__table ::-webkit-scrollbar {
  width: 12px;
}
.timepicker__table ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.timepicker__table ::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255,0,0,0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.timepicker__table ::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,0,0,0.4);
}
.timepicker__table-row {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.timepicker__table-row--main {
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  border-bottom: 1px solid #dedede;
}
.timepicker__table-cell {
  cursor: pointer;
  text-align: center;
  padding: 10px;
  border-left: 1px solid #dedede;
  width: 16.6%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.timepicker__table-cell:hover {
  color: #fff;
  background-color: #1da5df;
}
.timepicker__table-cell--main {
  text-align: center;
  border-left: none;
  width: 22%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.timepicker__table-cell.is-active {
  color: #fff;
  background-color: #f05163;
}
/*calendar fix end*/
.boxes {
  margin-top: 30px;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
.boxes__item {
  text-align: center;
  height: 70px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border: 1px solid #dedede;
  cursor: pointer;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  color: #000;
  font-size: 1.067rem;
}
.boxes__item.active {
  background: rgba(233,71,94,0.8);
  color: #fff;
}
.boxes__item-link {
  color: #676767;
  width: 100%;
  font-size: 1.067rem;
}
.paybox .check {
  display: none;
}
.question {
  text-align: center;
  margin-left: 5px;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid #f05163;
  border-radius: 50%;
  cursor: help;
  width: 30px;
  height: 30px;
}
.question:after {
  background: rgba(0,0,0,0.8);
  border-radius: 8px 8px 8px 0px;
  -webkit-box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
  box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
  color: #fff;
  content: attr(data-tooltip); /* Главная часть кода, определяющая содержимое всплывающей подсказки */
  margin-top: -24px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0); /* Наш элемент прозрачен... */
  padding: 3px 7px;
  position: absolute;
  visibility: hidden; /* ...и скрыт. */
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out; /* Добавить плавности по вкусу */
}
.question:hover::after {
  opacity: 1;
  -ms-filter: none;
  filter: none; /* Показываем его */
  visibility: visible;
}
.popup {
  display: none;
  background: rgba(233,71,94,0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 50px 20px;
  z-index: 99999;
  height: calc(100vh - 50px);
  overflow: auto;
}
.popup__inner {
  position: relative;
  max-width: 1200px;
  background: #fff;
  margin: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 10px;
}
.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  background-image: url("../images/sprite2.png");
  background-position: -57px -62px;
  width: 37px;
  height: 36px;
  cursor: pointer;
}
.authoriz {
  padding-top: 40px;
  width: 300px;
}
.title__header,
.title--header {
  display: inline-block;
  font-size: 2.133rem;
  font-weight: 700;
  color: #000;
}
.title__header:hover {
  color: #f05163;
  text-decoration: underline;
}
.forgot {
  padding-top: 20px;
  font-size: 0.933rem;
  font-weight: 400;
  color: #b6b6b6;
}
.forgot__link {
  color: #b6b6b6;
  text-decoration: underline;
  margin-left: 5px;
}
#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: #f5f5f5;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  text-decoration: none;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  -ms-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  font-size: 20px;
  -webkit-box-shadow: 0 0 30px rgba(0,0,0,0.3);
  box-shadow: 0 0 30px rgba(0,0,0,0.3);
  color: #f05163;
}
#back-to-top:hover {
  background: #e9ebec;
}
#back-to-top.show {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
@media (max-width: 1200px) {
  main,
  header {
    padding: 0 15px;
  }
}
@media (max-width: 991px) {
  body {
    font-size: 14px;
  }
  .rounded {
    padding: 35px;
  }
  .calendar {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .col__tablet {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 40%;
  }
  .col__tablet--c {
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .paybox .col__40 {
    width: 60%;
  }
  .pay-col {
    width: 100%;
    text-align: left;
    padding-left: 70px;
  }
  .pay-col + .pay-col {
    margin-top: 40px;
  }
  .bonus {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .bonus__item {
    width: 50%;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .choose__item {
    text-align: center;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 0;
  }
  .choose .bx-wrapper img {
    max-width: 130px;
    width: auto;
    display: inline-block;
  }
  .choose__right-row {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .choose__right-text {
    margin-bottom: 15px;
  }
  .choose__about {
    margin-top: 20px;
  }
  .boxes__item {
    font-size: 1rem;
  }
  .table__content-cell--stars {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -o-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
  }
  .table__content-cell--stars > .row.left + .row.left {
    margin-top: 10px;
  }
  .table__content-cell.row.between {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .table--plan .table__content-cell:nth-child(1) {
    width: 40%;
  }
  .table--plan .table__content-cell:nth-child(2) {
    padding: 20px;
    width: 45%;
  }
  .table--plan .table__content-cell:nth-child(3) {
    width: 15%;
  }
  .table--lg {
    display: none;
  }
  .table--md {
    display: block;
  }
  .info__title {
    font-weight: 300;
    color: #676767;
  }
  .tabs__caption-item {
    font-size: 1.333rem;
    padding-bottom: 20px;
  }
  .title-wrapper {
    padding: 0 20px;
    margin: 20px 0;
  }
}
@media (max-width: 767px) {
  main,
  header {
    padding: 0;
  }
  .rounded {
    padding: 10px 2px;
    border-radius: 0;
  }
  body {
    font-size: 13px;
  }
  .header__logo-clinics {
    display: none;
  }
  .boxes__item {
    width: 100%;
  }
  .choose__slider-wrapper,
  .choose__right {
    width: 50%;
  }
  .pass {
    padding: 0 30px;
  }
  .profile > .row.between {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .profile-form,
  .profile-map {
    width: 100%;
  }
  .profile-form {
    padding: 0;
  }
  .table--prices .table__content-cell:nth-child(1),
  .table--prices .table__content-cell:nth-child(2) {
    width: 50%;
  }
  .table--prices .table__content-cell:nth-child(3),
  .table--prices .table__content-cell:nth-child(4) {
    display: none;
  }
}
@media (max-width: 576px) {
  .pass {
    padding: 0 30px;
  }
  .m-tac {
    text-align: center;
  }
  .m-visible {
    display: inline-block;
  }
  h1,
  h2,
  h3 {
    text-align: center;
    padding: 20px 0;
  }
  section,
  .rounded {
    padding: 0 10px;
  }
  section--nopad,
  .rounded--nopad {
    padding-left: 0;
    padding-right: 0;
  }
  .header {
    padding: 10px;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fff;
    top: 0;
    z-index: 99999;
    height: 70px;
    border-bottom: 1px solid #dedede;
    -webkit-box-shadow: 0 0 30px rgba(0,0,0,0.3);
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
  }
  .header__number-title,
  .header__number-phone {
    display: none;
  }
  .hamburger {
    display: inline-block;
    width: 50px;
    height: 45px;
    position: relative;
    margin: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
  .hamburger span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #f05163;
    border-radius: 9px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    -ms-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  .hamburger span:nth-child(1) {
    top: 0;
  }
  .hamburger span:nth-child(2),
  .hamburger span:nth-child(3) {
    top: 18px;
  }
  .hamburger span:nth-child(4) {
    top: 36px;
  }
  .hamburger.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  .hamburger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .hamburger.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  .bonus {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .bonus__item {
    width: 100%;
  }
  .bonus-history__date {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .bonus-history__date > .col__50 {
    width: 100%;
    margin-bottom: 20px;
  }
  .menu {
    display: none;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 70px;
    right: 0;
    left: 0;
    z-index: 99999;
    height: calc(100vh - 40px);
    background-color: #fff;
  }
  .menu__item {
    width: 100%;
  }
  .title-wrapper {
    -webkit-box-direction: reverse;
    -moz-box-direction: reverse;
    -o-box-direction: reverse;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .title {
    width: auto;
  }
  .rightbox {
    display: block;
    text-align: right;
    margin: 10px;
    border: 1px solid #dedede;
    -webkit-box-shadow: 0 0 30px rgba(0,0,0,0.3);
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
    padding: 20px;
  }
  .rightbox:before {
    content: '';
    background-image: url("../images/sprite2.png");
    background-position: 0px -62px;
    width: 47px;
    height: 44px;
    float: left;
  }
  .rightbox__info {
    display: block;
    margin-bottom: 5px;
  }
  .rightbox--border {
    height: auto;
    width: 90%;
    text-align: center;
    margin: auto;
  }
  .rightbox--border .rightbox__info {
    word-spacing: initial;
  }
  .rightbox--border:before {
    float: none;
    display: inline-block;
  }
  main {
    margin-top: 70px;
  }
  .tabs__caption {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .tabs__caption-item {
    width: 100%;
    padding-top: 20px;
  }
  .choose {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .choose__slider-wrapper,
  .choose__right {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .table {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .table__header {
    display: none;
  }
  .table .table__content-row {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .table .table__content-row + .table__content-row {
    margin-top: 15px;
  }
  .table .table__content-cell {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  .table .table__content-cell--responsive > .left {
    text-align: left;
  }
  .table .table__content-cell--responsive > .left > .col__50 {
    width: 50%;
  }
  .table .m-tal {
    display: inline-block;
    width: 70%;
    text-align: left;
  }
  .table--appointment .table__content-cell:nth-child(1) {
    width: 100%;
  }
  .table--appointment .table__content-cell:nth-child(2) {
    width: 100%;
  }
  .table--appointment .table__content-cell:nth-child(3) {
    width: 100%;
  }
  .table--appointment .table__content-cell:nth-child(4) {
    width: 100%;
  }
  .table--appointment .table__content-cell:nth-child(5) {
    width: 100%;
  }
  .table--plan .table__content-cell:nth-child(1) {
    width: 100%;
  }
  .table--plan .table__content-cell:nth-child(2) {
    width: 100%;
  }
  .table--plan .table__content-cell:nth-child(3) {
    width: 100%;
  }
  .table--plan .table__content-cell:nth-child(4) {
    width: 100%;
  }
  .table--prices .table__content-row {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .table--bonus .table__content-cell:nth-child(1) {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -moz-box-align: start;
    -o-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    font-weight: 400;
  }
  .table--bonus .table__content-cell:nth-child(1) > .m-visible {
    color: #444;
    font-weight: 700;
  }
  .table .table__content-cell--hov {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    text-align: center;
    padding: 0;
  }
  .table .table__content-cell--hov > .m-visible {
    text-align: left;
    padding-left: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .table .table__content-cell--hov:hover {
    cursor: initial;
    background: transparent;
    color: initial;
  }
  .table .table__content-cell--hov:hover .select-date {
    color: initial;
  }
  .table .table__content-cell--hov:hover .select-date:after {
    background-position: -31px -116px;
    width: 21px;
    height: 21px;
  }
  .table--bonus .table__content-cell:nth-child(1),
  .table--bonus .table__content-cell:nth-child(2),
  .table--bonus .table__content-cell:nth-child(3) {
    width: 100%;
  }
  .table .m-hov {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 70px;
    width: 50%;
    cursor: pointer;
    border-left: 1px solid #dedede;
  }
  .table .m-hov:hover {
    background-color: #f05163;
  }
  .table .m-hov:hover .select-date {
    color: #fff;
  }
  .table .m-hov:hover .select-date:after {
    background-position: 0px -116px;
    width: 21px;
    height: 21px;
  }
  .paybox {
    padding: 0 10px;
  }
  .paybox .row {
    -webkit-box-direction: reverse;
    -moz-box-direction: reverse;
    -o-box-direction: reverse;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .paybox .col__40,
  .paybox .col__tablet {
    width: 100%;
  }
  .paybox .pay-right {
    width: 100%;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .cards {
    text-align: center;
  }
  .pay-col {
    padding: 20px;
  }
  .pay-col > .row {
    padding-left: 65px;
  }
  .pay-col + .pay-col {
    margin: 0;
  }
  .pay-input {
    width: 100%;
  }
  .pay-input--cvv {
    width: 50%;
  }
  .paybox {
    display: block;
  }
  .paybox .col__40,
  .paybox .pay-col {
    border-top: 1px solid #dedede;
  }
  .paybox .col__40 label,
  .paybox .pay-col label {
    position: initial;
  }
  .paybox .col__40 label:hover span,
  .paybox .pay-col label:hover span {
    color: #f05163;
  }
  .paybox .col__40 label:hover .check,
  .paybox .pay-col label:hover .check {
    border: 5px solid #f05163;
  }
  .paybox .col__40 label > .check,
  .paybox .pay-col label > .check {
    display: block;
    position: absolute;
    border: 5px solid #aaa;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    top: 30px;
    left: 20px;
    z-index: 5;
    -webkit-transition: border 0.25s linear;
    -moz-transition: border 0.25s linear;
    -o-transition: border 0.25s linear;
    -ms-transition: border 0.25s linear;
    transition: border 0.25s linear;
  }
  .paybox .col__40 label > .check::before,
  .paybox .pay-col label > .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 15px;
    width: 15px;
    top: 5px;
    left: 5px;
    margin: auto;
    -webkit-transition: background 0.25s linear;
    -moz-transition: background 0.25s linear;
    -o-transition: background 0.25s linear;
    -ms-transition: background 0.25s linear;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
  }
  .paybox .col__40 label > span,
  .paybox .pay-col label > span {
    display: block;
    position: relative;
    padding-left: 60px;
    margin: 15px auto;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
  }
  .paybox .col__40 label > input[type=radio],
  .paybox .pay-col label > input[type=radio] {
    visibility: hidden;
  }
  .paybox .col__40 label > input[type=radio]:checked > span,
  .paybox .pay-col label > input[type=radio]:checked > span {
    color: #f05163;
  }
  .paybox .col__40 label > input[type=radio]:checked ~ .check,
  .paybox .pay-col label > input[type=radio]:checked ~ .check {
    border: 5px solid #f05163;
  }
  .paybox .col__40 label > input[type=radio]:checked ~ .check::before,
  .paybox .pay-col label > input[type=radio]:checked ~ .check::before {
    background: #f05163;
  }
  .paybox .col__40 > label > span {
    padding-left: 80px;
  }
  .label {
    width: 100%;
    text-align: left;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .row-wrap {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 20px;
  }
  .pagination__list {
    width: 100%;
  }
  .profile-title {
    width: 100%;
    padding-top: 20px;
  }
  footer {
    padding: 0;
  }
  .footer__inner {
    text-align: center;
    margin: 10px 0;
  }
  .footer__copy {
    margin-bottom: 10px;
  }
  .m-tac {
    text-align: center;
  }
}
