@import 'normalize.css'
//@import '../fonts/fonts.css'
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=cyrillic'
@import 'https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/jquery.bxslider.min.css'
@import '../lib/jquery-bar-rating/css-stars.css'
@import '../lib/daterangepicker/drp.min.css'
@import 'sprite'
@import '../stylus/variables'
@import '../stylus/typography'
@import '../stylus/flex'
@import nib

//*
//  box-sizing border-box

html
body
  min-width: 320px
  width: 100%;

header
main
  max-width: 1200px
  margin: auto
footer
  padding: 20px
  border-top 1px solid grey2
.rounded
  border-radius 10px
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding: 50px
  &+.rounded
    margin-top: 30px
.m-visible
  display: none
.hamburger
  display: none
.header
  width: 100%;
  padding: 40px 0
  &__logo
    display: block
    &-link
      display: inline-block
      vertical-align: middle;
      sprite($sprite-logo)
    &-clinics
      position: relative
      color: blue2;
      margin-left: 40px
      border-bottom: 1px dashed red2
      &:after
        content: ''
        display: inline-block
        sprite($sprite-arr-down)
        position: absolute;
        top: 26%;
  &__number
    &-title
      color: grey
    &-phone
      color: #232323;
      font-size: 36px;
      font-weight: 700;

.menu
  &__item
    text-align: center
    height: 70px
    width: 20%
    display: flex;
    align-items: center;
    background: blue2
    &.active
    &:hover
      background: #ffffff
      color: blue2
      &.menu__item-link
        color: blue2
    &-link
      padding: 0 10px;
      color: #fff;
      text-transform: uppercase;
      width: 100%;
      cursor: pointer;
      line-height: 1.133rem;
      font-weight: 700;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      &.active
      &:hover
        background: #fff
        color: blue2

.title
  width: 70%;
  &-wrapper
    margin: 20px 0
  &__text
    display: inline-block
    //max-width: 80%

.rightbox
  text-align: right
  &__info
    font-size: 18px;
    font-weight: 700;
  &__link
    font-size: 12px;
    color blue2
    text-decoration: underline
  &--border
    text-align: center
    width: 180px
    height: 150px
    border: $border
    box-shadow $shadow
    border-radius 10px
    .rightbox__info
      text-align: center
      word-spacing: 180px;
    .rightbox__link
      display: inline-block
      text-align: center
      margin-top: 10px
      margin-bottom: 20px
.you
  font-size: 0.867rem;
  word-spacing initial
  display: inline-block
  margin-top: 20px
  margin-bottom: 5px


.bonus
  &__item
    flex-direction: column
    text-align: center
    &-text
      display: inline-block
    &-img
      display: inline-block
      border $border
      box-shadow $shadow
      border-radius 10px
      width: 100px
      height: 100px

.bonus-history
  &__date
    margin-bottom: 20px
    &-text
      margin-right: 20px;
    &-input
      border: $border
      border-radius: 5px;
      height: 3.2rem;
      width: 80%
      padding-left: 20px
      cursor: pointer
    &-picker
      position: relative

      &:after
        content: ''
        sprite($sprite-date)
        display: inline-block;
        position: absolute;
        right: 12px;
        top: 18px;


.search-form
  margin: 30px 0
  &__input
    text-align: center
    border-radius: 10px;
    height: 4.2rem;
    width: 100%
    border $border
    box-shadow $shadow
    box-sizing $box
    font-size: 1.133rem;
    font-weight: 400;
    //&[placeholder]
    &&::-webkit-input-placeholder
    &&::-moz-placeholder
    &:-moz-placeholder
    &:-ms-input-placeholder
      color: #242424;
      text-indent: 0;
      transition: text-indent 0.3s ease;
    &:focus
      //&[placeholder]
      &&::-webkit-input-placeholder
      &&::-moz-placeholder
      &:-moz-placeholder
      &:-ms-input-placeholder
        text-indent: 500px;
        transition: text-indent 0.3s ease;
.choose
  border 1px solid grey2
  box-shadow: 0 0 30px rgba(0,0,0,0.3);
  margin-bottom: 25px
  &__title
    padding-left: 30px
    display: inline-block
    margin: 20px 0
    font-size: 19px;
    font-weight: 700;
  &__right
    border-left 1px solid grey2
    font-weight: 600;
    &-row
      padding: 15px 20px;
      & + .choose__right-row
        border-top: 1px solid grey2
    &-service
      text-align: center
      color: #919191;
      font-size: 12px;
    &-price
      color: #393939;
      font-size: 17px;
      line-height: 20px;
    &-btn
      cursor pointer
      display: inline-block
      padding: 15px 50px
      font-size: 15px;
      font-weight: 700;
      color: blue2
      border 1px solid blue2
      border-bottom: 2px solid blue2
      &:hover
      &:active
        background: blue2
        color: #fff
      &--blue
        color: blue2
        border 1px solid blue2
        border-bottom: 2px solid blue2
        &:hover
        &:active
          background: blue2
          color: #fff

  &__slider
    &-wrapper
      display: flex;
      align-items: center;
      width: 60%
      padding: 15px 20px;
      .bx-wrapper
        margin: 0
        box-shadow none
        border: none
        .bx-prev
          sprite($sprite-prev)
          left: 0
        .bx-next
          sprite($sprite-next)
          right: 0
  &__about
    margin-left: 25px
    padding-right: 20px;
    font-size: 12px
    font-weight: 600;
    &-title
      font-size: 16px;
      line-height: 1.5rem
    &-center
      color blue
      margin-top: 5px;

  &__item
    padding-left: 30px

.pagination
  &__list
    margin: 50px auto
  //&__item
  //  font-size: 18px;
  //  color: #242424;
  //  font-weight: 700;
  &__link
    font-size: 18px;
    color: #242424;
    font-weight: 700;
    &--active
      color: red2
      font-size: 30px;
    &--right
    &--left
      color: grey3


.tabs
  &__caption
    &-item
      position: relative
      width: 33%
      cursor pointer
      font-size: 24px;
      font-weight: 700;
      text-transform uppercase
      padding-bottom: 30px
      border-bottom: 1px solid grey3
      color: grey3
      &.active
        border-bottom: 2px solid blue2;
        color: blue2;
        &:after
          content: ''
          background-image: url(../images/sprite2.png);
          sprite($sprite-arr-down)
          display: block
          position: absolute
          bottom: -9px;
          left: 50%;
      &:hover
        border-bottom: 2px solid blue2;
        color: blue2;



.tabs__content {
  display: none; /* по умолчанию прячем все блоки */
}
.tabs__content.active {
  display: block; /* по умолчанию показываем нужный блок */
}


.table
  display block
  width 100%
  &__header
    .table__content-row .table__content-cell
      font-weight: 700;
      font-size: 16px;
      text-align: center;
      display: inline-block;
      background: #1da5df;
      color: white;
  &__content
    //& .table__content-cell
    //  border 1px solid grey2
    &-row
      display flex
      width 100%
      //height: 45px
    &-cell
      border 1px solid grey2
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      padding: 20px
      //height: 45px
      //padding 10px
      width 16%
      text-align: center
      &--hov
        cursor: pointer
        padding: 20px 0
        &:hover
          //background-color: red2
          background-color: blue2
          .select-date
            color white
            &:after
              sprite($sprite-date-hov)
            //&:hover
            //  background-color: red2
            //  color white
      &.row.between
        justify-content: space-between
      // flex-grow: 5
      &--pad
        padding-left: 15px
      &:nth-child(1)
        justify-content: flex-start
        width 52%
        text-align: left
      &--stars
        padding: 20px 0
      & > .price
        margin-right: 10px
        &: hover
          font-weight bold
      &--responsive
        & > .left
          text-align: center
          & > .col__50
            width: 100%

    label
      cursor pointer
      &:hover
        color blue2
        font-weight 600
        .check
          border: 1px solid blue2;
      .table__content-cell:has(> input[type=checkbox]:checked)
        background-color: red2
    input[type=checkbox]
      display: none;
      &:checked ~ .check
        sprite($sprite-checked)
        border: 0
      &:checked ~ .price
        color white
  &--appointment
    .table__content
      &-cell
        &:nth-child(1)
          width: 24%
        &:nth-child(2)
          width: 12%
        &:nth-child(3)
          width: 32%
        &:nth-child(4)
          width: 20%
        &:nth-child(5)
          width: 12%
  &--plan
    .table__content
      &-cell
        font-size: 0.867rem;
        font-weight: 400;
        &:nth-child(1)
          width: 52%
        &:nth-child(2)
          width: 24%
          padding: 20px 0;
        &:nth-child(3)
          width: 12%
        &:nth-child(4)
          width: 12%
  &--bonus
    .table__content
      &-cell
        font-size: 0.867rem;
        //font-weight: 600;
        &:nth-child(1)
          width: 52%
        &:nth-child(2)
          width: 24%
          //padding: 20px 0;
        &:nth-child(3)
          width: 24%

  &--md
    display: none
.dropdown
  &:after
    content: ''
    display: inline-block
.select-date
  &:after
    content: ''
    display: inline-block
    vertical-align: middle;
    sprite($sprite-date)

.comment
  border: $border
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  resize: none;
  margin-top: 20px
  margin-bottom: 10px
.check
  display: inline-block
  width: 14px
  height: 14px
  vertical-align: top
  border: 1px solid grey2;
  border-radius: 4px;


.paybox
  display: block
  .col__40
    & > label
      position: relative
      font-size: 1.333rem;
      font-weight: 300;
      //margin-left: 25px;
      left: 32%;
      & > input[type=radio]
        position: absolute
        top: 5px
        left: -25px
        width: 21px;
        height: 21px;

.pay-row
  display: flex
  margin-top: 15px
  justify-content: flex-end
  align-items: center;
  //& > label
  //  width: 100%
  //  display: flex
  //  justify-content flex-end
  //  align-items: center;

.row-wrap
  width: 100%
  display: flex
  justify-content flex-end
  align-items: center;

.pay-right
  width: 80%

.pay-input
  box-sizing: border-box
  width: 17.333rem;
  height: 3.133rem;
  border: 0.067rem solid #b6b6b6;
  border-radius 5px
  padding: 15px
  font-style italic
  &--cvv
    width: 50%;
  &__helper
    display: inline-block
    width: 43%;
    vertical-align: middle
    color: grey3
    font-style italic
    font-size: 0.833rem;

.pay-col
  box-sizing border-box
  &--c
    padding-left: 130px
  &--r
    text-align: right
  label
    position: relative
    font-size: 1.333rem;
    font-weight: 300;
  input[type=radio]
    position: absolute
    top: 5px
    left: -25px
    width: 21px;
    height: 21px;
  .rightbox__info
    margin-top: 20px

.pay-select
    height: 3.133rem;
    border: 0.067rem solid #b6b6b6;
    border-radius 5px
.term
  width: 17.333rem;
.total
.cards
.pay-input-wrap
  display: inline-block
  width: 17.333rem;
.total
  font-size: 1.533rem;
  font-weight: 700;
  color: blue2

.label
  text-align: right
  margin-right: 15px
  width: 40%
  font-size: 0.933rem;
  font-weight: 600;
.footer
  &__inner
    display: inline-block
    color grey3
    margin: 50px 0;
  &__copy
    display: block
    color: #000


.profile
  padding-bottom: 70px
  margin-bottom: 70px
  border-bottom 1px solid #cacaca
  &__map
    margin-top: 20px
    height: 300px
.profile-map
  &__center
    font-size: 18px;
    color: #242424;
  &__adress
    font-size: 14px;
    color: #b6b6b6;
  &__label
    cursor pointer
    padding-left: 25px
  input[type="radio"]
    display: none
  input[type="radio"]:checked + label i {
    sprite($sprite-v)
  }
  input[type="radio"] + label i {
    display: inline-block;
    margin-right: 6px;
    margin-top: 2px;
    vertical-align: middle;
    sprite($sprite-o)
    cursor: pointer;
    position: absolute;
    left: 0
  }
.profile-title
  display: inline-block
  width: 40%
  color: grey
.profile-form
  &__row
    position: relative
    &--error
      padding-bottom: 10px;
      margin-bottom: 50px;
    & + &
      margin-top: 20px
    &--map
      position: relative;
      min-height: 40px;
  &__label
    display: block
    margin: 15px 0
    font-size: 1.2rem;
    font-weight: 400;
    color: grey
  &__input
    box-sizing: border-box;
    width: 100%
    padding: 10px 20px
    border-radius: 10px;
    border: 0.067rem solid #b6b6b6;
    box-shadow 0
    font-style italic
    font-size: 1.2rem;
    &--error
      border: 0.067rem solid red2
      box-shadow: 0 0 20px 2px rgba(255,0,0,0.6);
      margin-bottom: 10px

.checkbox-row
  padding-left: 25px

.error-box
  color red2
  font-size: .8rem
  position: absolute
  margin-top: 10px

/*tooltip start*/
.tooltip  /* стиль текста, наведя или нажав на который появится пояснение */
  display: inline-block;
  position: relative;
  text-indent: 0px;
  cursor: help; /* вид курсора */
  font-size: 0.8rem;
  font-weight: 400;
  color: grey
  text-decoration: underline
  z-index: 9;
  &--nounder
    text-decoration: none
    cursor: pointer

.tooltip > span { /* стиль появляющейся подсказки */
  position: absolute;
  top: 100%;
  left: -22em; /* = max-width */
  right: -22em; /* = max-width */
  width: -moz-max-content;
  width: -webkit-max-content;
  width: max-content;  /* ширина подсказки может быть не более содержимого */
  max-width: 22em;  /* ширина подсказки может быть не более 20em */
  max-height: 80vh; /* необязательное ограничение по высоте подсказки, 1vh — это 1% от ширины окна */
  //overflow: auto;
  visibility: hidden;
  margin: 0 auto .4em; /* поднята на .4em над текстом, наведя или нажав на который появится пояснение */
  padding: 1rem;
  border: 1px solid rgb(200,200,200);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 5px;
  //font-size: 90%;
  background: #fff;
  line-height: normal;
  cursor: auto;
  color black
  font-size: 0.867rem;
  font-weight: 600;
  box-sizing: border-box;
}

.tooltip:before { /* поле между текстом, наведя или нажав на который появится пояснение, и подсказкой нужно чтобы, если перевести курсор мышки на подсказку, та не исчезла; тут тоже везде .4em */
  content: "";
  position: absolute;
  top: -.4em;
  left: 0;
  right: 0;
  height: .4em;
  visibility: hidden;
}
.tooltip:hover > span,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus > span,
.tooltip:focus:before,
.tooltip:focus:after {
  visibility: visible;
  transition: 0s .4s;
}
.tooltip:focus { /* убрать рамку в Хроме */
  outline: none;
}
.tooltip.anim > span,
.tooltip.anim:after { /* анимация */
  opacity: 0;
  transform: translateY(1.5em) scale(.3);
  transform-origin: center bottom;
}
.tooltip.anim:after {
  transform: translateY(.7em) scale(.3); /* 1.7 = 1.5 / (1.4*2) */
}
.tooltip.anim:hover > span,
.tooltip.anim:hover:after,
.tooltip.anim:focus > span,
.tooltip.anim:focus:after {
  opacity: 1;
  transition: .6s .4s;
  transform: translateY(0);
}
.tooltip > span:before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -12px;
  width: 0; height: 0;
  border-bottom: 11px solid #ddd;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  box-sizing: border-box;
}
.tooltip > span:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-bottom: 10px solid #fff;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  box-sizing: border-box;
}
@media (max-width: 22em) { /* ширина подсказки может быть не более ширины окна браузера */
  .tooltip > span {
    max-width: 100vw; /* в 100vw входит полоса прокрутки, но на мобильных она часто отсутствует */
    box-sizing: border-box;
  }
}

/*tooltip end*/


/*calendar fix*/
.date-picker-wrapper .month-name
.date-picker-wrapper .month-name
  color: #000
  font-size: 1.067rem;
  font-weight: 400;
  text-transform: capitalize
.date-picker-wrapper .month-wrapper table .week-name
  height: 25px
.date-picker-wrapper .month-wrapper table .day.real-today
  background-color: blue2
  color: white!important
.date-picker-wrapper
  background-color: transparent;
  border: none;
  color: #aaa;
.date-picker-wrapper table .caption {
  height: 60px;
}
.date-picker-wrapper table .caption .next
  padding: 10px
  sprite($sprite-next)
  zoom: .5
  -moz-transform: scale(.5);
.date-picker-wrapper table .caption .prev
  padding: 10px
  sprite($sprite-prev)
  zoom: .5
  -moz-transform: scale(.5);
.date-picker-wrapper table .caption .next:hover,
.date-picker-wrapper table .caption .prev:hover
  background-color: transparent;
  color: #fff;

.week-name th {
  border-bottom: 1px solid #aaa;
}
.schedule-rows td {
  width: 80px;
  height: 30px;
  margin: 3px;
  padding: 5px;
  background-color: #fff;
  cursor: pointer;
  border: $border
}

.schedule-rows td:first-child {
  background-color: transparent;
  text-align: right;
  position: relative;
  width: 50px;
  text-align: center;
  /*top: -12px;*/
}

.schedule-rows td[data-selected],
.schedule-rows td[data-selecting] { background-color: #E74C3C; }

.schedule-rows td[data-disabled] { opacity: 0.55; }
.date-picker-wrapper .month-wrapper
  width: 259px;
.schedule-header th
  border: $border
  padding: 10px;

.date-picker-wrapper .month-wrapper table .day
  font-size: 0.933rem;
  padding: 10px

.timepicker
  //padding-top: 12px
  padding-right: 10px;
  border: $border
  width: 68%
  margin-left: 50px
  &__title
    //border-bottom $border
    text-align: center
    padding: 20px
    box-sizing:border-box
  &__table
    border-collapse: collapse;
    width: 100%
    &-wrapper
      max-height: 225px;
      overflow-y: scroll;
      padding-right: 10px;

      //border-left: 1px solid lightgray;
      //border-bottom: 1px solid lightgray;
      &::-webkit-scrollbar {
        width: 10px;
      }
      /* Track */
      &::-webkit-scrollbar-track {
        background: grey2
        //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        //padding: 0 5px
        //-webkit-border-radius: 10px;
        border-radius: 10px;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        //-webkit-border-radius: 10px;
        border-radius: 10px;
        background: rgba(29, 164, 221, 0.81)
        //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
      }
      &::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(255,0,0,0.4);
      }
    &-row
      display:flex
      flex-wrap: wrap
      &--main
        flex-wrap: nowrap
        border-bottom $border
    &-cell
      cursor: pointer
      text-align: center
      padding: 10px
      /*border-right $border*/
      border $border
      /*width: 16.6%*/
      box-sizing:border-box
      /*&:nth-child(1)
      &:nth-child(2)
      &:nth-child(3)
      &:nth-child(4)
      &:nth-child(5)
      &:nth-child(6)
        border-bottom $border*/
      &:hover
        color white
        background-color: blue2
      &--main
        text-align: center
        border-left none
        border-bottom none
        width: 22%
        //display: flex;
        //align-items: center;
        //justify-content: center;
      &.is-active
        color white
        background-color: blue2
        //box-shadow $box
        box-shadow:inset 0 0 15px 0 rgba(34, 34, 34, 0.54)

/*calendar fix end*/

.boxes
  margin-top: 30px
  flex-wrap wrap
  box-sizing: border-box
  text-align: center
  &__item
    text-align: center;
    height: 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border: 1px solid #dedede;
    cursor: pointer
    justify-content: space-around
    color black
    font-size: 1.067rem;
    &.active
      background: red3
      color: #fff
    &:hover
      background-color: blue2
      color: #fff
    //& > .boxes__item-link
    //  color: #fff
    &-link
      color grey
      width: 100%
      font-size: 1.067rem;

.paybox .check
  display: none

.question
  text-align: center;
  margin-left: 5px;
  display: inline-block;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid #f05163;
  border-radius: 50%;
  cursor: help;
  width: 30px;
  height: 30px;
  &:after
    background: rgba(0, 0, 0, 0.8);
    border-radius: 8px 8px 8px 0px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    color: #FFF;
    content: attr(data-tooltip); /* Главная часть кода, определяющая содержимое всплывающей подсказки */
    margin-top: -24px;
    opacity: 0; /* Наш элемент прозрачен... */
    padding: 3px 7px;
    position: absolute;
    visibility: hidden; /* ...и скрыт. */
    transition: all 0.8s ease-in-out; /* Добавить плавности по вкусу */
  &:hover::after
    opacity: 1; /* Показываем его */
    visibility: visible;

.popup
  display: none
  //background: red3
  background: blue3
  //opacity .8
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  padding: 50px 20px
  z-index: 99999;
  height: calc(100vh - 50px);
  overflow auto
  &__inner
    position: relative
    //max-width: 1200px
    max-width: 850px
    background: #fff
    margin: auto
    box-sizing: border-box;
    padding: 20px
    border-radius 10px
  &__close
    position: absolute
    right: 10px
    top: 10px
    sprite($sprite-x)
    cursor: pointer

.authoriz
  padding-top: 40px
  width: 300px

.title__header
.title--header
  display: inline-block
  font-size: 2.133rem;
  font-weight: 700;
  color: #000
.title__header:hover
  color: red2
  text-decoration: underline
.forgot
  padding-top: 20px
  font-size: 0.933rem;
  font-weight: 400;
  color: #b6b6b6;
  &__link
    color: #b6b6b6;
    text-decoration: underline
    margin-left: 5px


#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: #f5f5f5;
  //color: #444;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  opacity: 0;
  font-size: 20px
  box-shadow $shadow
  color red2
}
#back-to-top:hover {
  background: #e9ebec;
}
#back-to-top.show {
  opacity: 1;
}


@media(max-width:1200px)
  //.header
  //  padding: 40px 15px
  main
  header
    padding: 0 15px

@media(max-width:991px)
  body
    font-size: 14px
  .rounded
    padding: 35px
  .calendar
    flex-direction: column;
    align-items: center;
  .col__tablet
    flex-direction column
    width: 40%
    &--c
      align-items: center;
  .paybox
    & .col__40
      width: 60%
  .pay-col
    width: 100%
    text-align: left
    padding-left: 70px;
    & + .pay-col
      margin-top: 40px
  .checkbox-row
    padding-left: 25px

  .bonus
    flex-wrap wrap
    &__item
      width 50%
      flex-wrap: wrap;
      padding: 10px;
      box-sizing: border-box;

  .choose
    &__item
      text-align: center
      flex-direction: column;
      align-items: center;
      padding: 0
    //&__img
    //  width: auto
    //  display: inline-block
    .bx-wrapper
      img
        max-width: 130px;
        width: auto
        display: inline-block
    &__right
      &-row
        flex-direction: column;
      &-text
        margin-bottom: 15px
    &__about
      margin-top: 20px;
  .boxes__item
    font-size: 1rem
  .table
    &__content
      &-cell
        &:first-child
          font-weight: 700;
          //text-align: center
        &--stars
          flex-direction column
          align-items: stretch;
          & > .row.left
            & + .row.left
              margin-top: 10px
        &.row.between
          flex-direction column
    &--plan
      .table__content-cell
        &:nth-child(1)
          width: 40%
        &:nth-child(2)
          padding: 20px
          width: 45%
        &:nth-child(3)
          width: 15%


    &--lg
      display: none
    &--md
      display: block
  .info__title
    font-weight 300
    color: grey

  .tabs__caption-item
    font-size: 1.333rem;
    padding-bottom: 20px

  .title-wrapper
    padding: 0 20px;
    margin: 20px 0;

  .timepicker
    margin-left: 0
    width: 100%

@media(max-width:767px)
  main, header
    padding: 0
  .rounded
    padding: 10px 2px
    border-radius 0

  body
    font-size: 13px

  .header__logo-clinics
    display: none

  .boxes__item
    width: 100%

  //.choose
  //  flex-direction: column
  //  &__slider-wrapper
  //  &__right
  //    width: 100%
  //    box-sizing: border-box;

  .choose
    &__slider-wrapper,
    &__right
      width: 50%

  .pass
    padding: 0 30px
  .profile
    //padding: 30px
    & > .row.between
      flex-direction: column
    &-form
    &-map
      width: 100%

    &-form
      padding: 0

  .table
    &--prices
      .table__content-cell
        &:nth-child(1)
        &:nth-child(2)
          width: 50%
        &:nth-child(3)
        &:nth-child(4)
          display: none


@media(max-width:576px)

  .pass
    padding: 0 30px
  .m-tac
    text-align: center
  .m-visible
    display: inline-block
  //.header__number
  //  display: none
  h1
  h2
  h3
    text-align: center;
    padding: 20px 0
  section
  .rounded
    padding: 0 10px
    &--nopad
      padding-left: 0
      padding-right: 0
  //.rounded
  //  padding: 0
  .header
    flex-wrap: nowrap;
    //padding: 10px 0px 0px 10px;
    padding: 10px;
    position: fixed;
    left: 0;
    right: 0;
    background-color: white;
    top: 0;
    z-index: 99999;
    height: 70px;
    border-bottom: $border
    box-shadow $shadow
  .header__number-title
  .header__number-phone
    display: none

  /* Icon 1 */

  .hamburger
    display: inline-block
    width: 50px;
    height: 45px;
    position: relative;
    margin: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    span
      display: block;
      position: absolute;
      height: 9px;
      width: 100%;
      background: red2
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;

      &:nth-child(1)
        top: 0;

      &:nth-child(2), &:nth-child(3)
        top: 18px;

      &:nth-child(4)
        top: 36px;

    &.open span
      &:nth-child(1)
        top: 18px;
        width: 0%;
        left: 50%;

      &:nth-child(2)
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);

      &:nth-child(3)
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);

      &:nth-child(4)
        top: 18px;
        width: 0%;
        left: 50%;



  .bonus
    flex-direction column
    &__item
      width: 100%

  .bonus-history__date
    flex-direction: column;
    & > .col__50
      width: 100%
      margin-bottom: 20px



  .menu
    display: none
    flex-direction: column
    position: fixed;
    //height: 40px;
    top: 70px;
    right: 0;
    left: 0;
    z-index: 99999;
    height: calc(100vh - 40px);
    background-color: white;
    &__item
      width: 100%

  .title-wrapper
    flex-direction: column-reverse;
  .title
    width: auto
  .rightbox
    display: block;
    text-align: right;
    margin: 10px;
    border: $border
    box-shadow $shadow
    padding: 20px;
    &:before
      content: ''
      sprite($sprite-bonus)
      float: left;
    &__info
      display: block
      margin-bottom: 5px;
    &--border
      height: auto
      width: 90%
      text-align: center
      margin: auto
      .rightbox__info
        word-spacing initial
      &:before
        float: none
        display: inline-block

  main
    margin-top: 70px;


  .tabs__caption
    flex-direction: column
    &-item
      width: 100%
      padding-top: 20px
  .choose
    flex-direction: column
    &__slider-wrapper
    &__right
      width: 100%
      box-sizing: border-box;


  .table
    //&--result
    //padding: 0 15px;
    box-sizing: border-box;
    &__header
      display: none
    .table__content-row
      flex-direction: column
      & + .table__content-row
        margin-top: 15px
    .table__content-cell
      width: 100%
      display: flex;
      justify-content: space-between;
      &--responsive
        & > .left
          text-align: left
          & > .col__50
            width: 50%
    .m-tal
      display: inline-block
      width: 70%;
      text-align: left;
    &--appointment
      .table__content
        &-cell
          &:nth-child(1)
            width: 100%
          &:nth-child(2)
            width: 100%
          &:nth-child(3)
            width: 100%
          &:nth-child(4)
            width: 100%
          &:nth-child(5)
            width: 100%
    &--plan
      .table__content
        &-cell
          &:nth-child(1)
            width: 100%
          &:nth-child(2)
            width: 100%
          &:nth-child(3)
            width: 100%
          &:nth-child(4)
            width: 100%
    &--prices
      .table__content-row
        flex-direction: row
    &--bonus
      .table__content-cell
        &:nth-child(1)
          flex-direction: column;
          align-items: flex-start;
          font-weight: 400;
          & > .m-visible
            color: #444;
            font-weight: 700;
    & .table__content-cell
      &--hov
        display: flex
        text-align: center;
        //width: 50%;
        //border: none;
        padding: 0
        & > .m-visible
          text-align: left;
          padding-left: 20px;
          box-sizing: border-box;
        &:hover
          cursor: initial
          background: transparent
          color: initial
          .select-date
            color initial
            &:after
              sprite($sprite-date)
    &--bonus
      .table__content
        //&-row
        //  flex-direction: row
        &-cell
          &:nth-child(1)
          &:nth-child(2)
          &:nth-child(3)
            width: 100%

    & .m-hov
      //cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 70px;
      width: 50%;
      cursor: pointer
      border-left $border
      &:hover
        background-color: red2
        .select-date
          color white
          &:after
            sprite($sprite-date-hov)

  .paybox
    padding: 0 10px
    .row
      flex-direction: column-reverse;
    .col__40
    .col__tablet
      width: 100%
    .pay-right
      width: 100%;
      flex-direction: row
  .cards
    text-align: center;
  .pay-col
    padding: 20px
    //label
    //  margin-left: 25px;
    & > .row
      //flex-direction: column
      padding-left: 65px
    & + .pay-col
      margin: 0


  .pay-input
    width: 100%
    &--cvv
      width: 50%


  .paybox
    display: block
    & .col__40,
    & .pay-col
      border-top $border
      padding-top: 20px;
      & label
        position: initial
        display: inline-block;
        &:hover
         span
           color: red2;
         .check
           border: 5px solid red2;
        & > .check
         display: block;
         position: absolute;
         border: 5px solid #AAAAAA;
         border-radius: 100%;
         height: 25px;
         width: 25px;
         top: 30px;
         left: 20px;
         z-index: 5;
         transition: border .25s linear;
         &::before
           display: block;
           position: absolute;
           content: '';
           border-radius: 100%;
           height: 15px;
           width: 15px;
           top: 5px;
           left: 5px;
           margin: auto;
           transition: background 0.25s linear;
           -webkit-transition: background 0.25s linear;
        & > span
         display: block;
         position: relative;
         //font-weight: 300;
         //font-size: 1.35em;
         padding-left: 60px;
         margin: 15px auto;
         //height: 30px;
         //z-index: 9;
         cursor: pointer;
         -webkit-transition: all 0.25s linear;
        & > input[type=radio]
         //position: absolute
         //top: 5px
         //left: -25px
         //width: 21px;
         //height: 21px;
         visibility: hidden;
         &:checked
           & > span
             color: red2;
           & ~ .check
             border: 5px solid red2;
             &::before
               background: red2;
    .col__40 > label > span
      padding-left: 80px

  .label
    width: 100%
    text-align: left
    margin-right: 0
    margin-bottom: 10px
  .row-wrap
    flex-direction: column;
    margin-top: 20px

  .pagination__list
    width: 100%;

  .profile
    &-title
      width: 100%
      padding-top: 20px
  //  padding-left: 15px;
  //  padding-right: 15px;
  footer
    padding: 0
  .footer__inner
    text-align: center
    margin: 10px 0
  .footer__copy
    margin-bottom: 10px;
  .m-tac
    text-align: center
//@media(max-width:480px)