spriteWidth($sprite)
  width $sprite[4]

spriteHeight($sprite)
  height $sprite[5]

spritePosition($sprite)
  background-position $sprite[2] $sprite[3]

spriteImage($sprite)
  background-image url(../images/$sprite[8])

sprite($sprite)
  if !match('hover', selector()) && !match('active', selector())
    spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)


for i in (1..100)
  .col__{i}
    width (i)%
    position: relative




red = #ff6666
red2 = #f05163
//red3 = #ff687c
red3 = rgba(233,71,94,0.8)
grey = #676767
grey2 = #dedede
grey3 = #bdbdbd
blue = #1da5df
blue2 = #1da5df
blue3 = rgba(29, 164, 221, 0.81)

body
  background: #fff;
  position: relative
  font-family: 'Open Sans', sans-serif;
  font-size: 15px
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
ul
  padding: 0
  margin: 0
li
  display: inline-block
a
  text-decoration: none

table
  border-spacing: 0;
/* ----------------------------------------------------------------------------------------------------
Super Form Reset
A couple of things to watch out for:
- IE8: If a text input doesn't have padding on all sides or none the text won't be centered.
- The default border sizes on text inputs in all UAs seem to be slightly different. You're better off using custom borders.
- You NEED to set the font-size and family on all form elements
- Search inputs need to have their appearance reset and the box-sizing set to content-box to match other UAs
- You can style the upload button in webkit using ::-webkit-file-upload-button
- ::-webkit-file-upload-button selectors can't be used in the same selector as normal ones. FF and IE freak out.
- IE: You don't need to fake inline-block with labels and form controls in IE. They function as inline-block.
- By turning off ::-webkit-search-decoration, it removes the extra whitespace on the left on search inputs
----------------------------------------------------------------------------------------------------*/

input,
label,
select,
button,
textarea
{
  margin:0;
  border:0;
  padding:0;
  //display:inline-block;
  //vertical-align:middle;
  white-space:normal;
  background:none;
  line-height:1;

  /* Browsers have different default form fonts */
  //font-size:13px;
  //font-family:Arial;
}

/* Remove the stupid outer glow in Webkit */
input:focus
{
  outline:0;
}

/* Box Sizing Reset
-----------------------------------------------*/

/* All of our custom controls should be what we expect them to be */
input,
textarea
{
  -webkit-box-sizing:content-box;
  -moz-box-sizing:content-box;
  box-sizing:content-box;
}

/* These elements are usually rendered a certain way by the browser */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select
{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

/* Text Inputs
-----------------------------------------------*/

input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=range],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week]
{
}

/* Button Controls
-----------------------------------------------*/

input[type=checkbox],
input[type=radio]
{
  width:13px;
  height:13px;
}

/* File Uploads
-----------------------------------------------*/

input[type=file]
{

}

/* Search Input
-----------------------------------------------*/

/* Make webkit render the search input like a normal text field */
input[type=search]
{
  -webkit-appearance:textfield;
  -webkit-box-sizing:content-box;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration
{
  display:none;
}

/* Buttons
-----------------------------------------------*/

button,
input[type="reset"],
input[type="button"],
input[type="submit"]
{
  /* Fix IE7 display bug */
  overflow:visible;
  width:auto;
}

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button
{
  padding:0;
  border:0;
  background:none;
}

/* Textarea
-----------------------------------------------*/

textarea
{
  /* Move the label to the top */
  vertical-align:top;

  /* Turn off scroll bars in IE unless needed */
  overflow:auto;
}

/* Selects
-----------------------------------------------*/

select
{

}

select[multiple]
{
  /* Move the label to the top */
  vertical-align:top;
}


.btn-rounded
  border-radius: 23px;

.mt-30
  margin-top: 30px

.mb-30
  margin-bottom: 30px

.tac
  text-align: center

.left
  text-align: left

.red
  color: red2
.col__tablet
.col__mobile
  width: 100%
  display: flex

.img-wrap
  overflow: hidden;
  box-sizing: border-box;
  & > img
    max-width:100%



$border = 1px solid grey2
$shadow = 0 0 30px rgba(0,0,0,0.3);
$box = border-box